<h1>CATS UPDATE PAGE</h1>



<form action="<%= cat_url %>" method="GET">
    <input type="hidden" method="_method" value="PATCH" >

    <label for="cat_name">Name</label>
    <input type="text" name="cat[name]" id="cat_name" value="<%= @cat.name %>">

    <label for="cat_age">Age</label>
    <input type="integer" name="cat[age]" id="cat_age" value="<%= @cat.age %>">

    <label for="cat_color">Color</label>
    <input type="string" name="cat[color]" id="cat_color" value="">

    <input type="submit" value="patch cat">
</form>